footer.footer

	.container
		
		.row
			.col-sm-6.col-md-4.col-lg-4
				h5.footer-title Контакты
				.footer-contacts
					.fc.fc-phone (343) 200-75-77 df
					.fc.fc-mail info@info.com
					a.fc.fc-map(href='') Куда доставляем?
					.fc.fc-clock
						| Работаем  с 
						br
						| 9.00 до 20.00
		
			.col-sm-6.col-md-4.col-lg-4

				h5.footer-title Полезная информация

				ul.footer-menu
					
					li
						a(href='#') О нас 
					li
						a(href='#') Доставка и оплата
					li
						a.active(href='#') Схемы лечения 
					li
						a(href='#') Отзывы 
					li
						a(href='#') Гарантии
					li
						a(href='#') Вопрос-ответ
					li
						a(href='#')  Сертификаты  
					li
						a(href='#') Контакты
			// 
			.col-md-4.col-lg-4

				h5.footer-title Препараты

				ul.footer-menu
					li
						a(href='#') Софосбувир
					li
						a(href='#') Даклатасвир
					li
						a(href='#') Ледипасвир

					li
						a(href='#') Тенофовир 
					li
						a(href='#') Велпатасвир	
	// container
