
header.header
	.container.header-block
		.row
			.col-lg-4
				a.logo(href='/')
					img(src='assets/images/logo.png ', alt='')
		
				//.logo 

			.col-lg-5

				.row
					.col-xl-6

						a.phone(href='tel:+3432007577') (343) 200-75-77
					// 

					.col-xl-6

						button.btn(type='button', data-toggle='modal', data-target='#callback') Заказать звонок
					// 

				.form-search
					form(action='', method='post')
						input(type='text', name='name', placeholder='Ваше имя*', required='')
						button.btn.btn-primary(type='submit')
			// 
			.col-md-4
				a.header-cart(href='')
					span 15
			// 
	
	nav.navbar.navbar-toggleable-sm
		.container
			.navbar-header
				button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false')
					span
					span
					span

			#navbar.collapse.navbar-collapse
				ul.nav.navbar-nav
					li
						a(href='') Главная
					li
						a(href='') О компании
					li
						a(href='') Каталог саженцев
					li
						a(href='') Наши работы s
					li
						a(href='') Отзывы
					li
						a(href='') Статьи
					li
						a(href='') Контакты
		// container

//.header
