
header.header
	.container.header-block
		.row
			.col-lg-4
				a.logo(href='/')
					img(src='assets/images/logo.png ', alt='')
		
				//.logo 

			.col-lg-5

				.row
					
					.col-xl-6

						
					// 

					.col-xl-6

						a.phone(href='#') (343) 200-75-77
					// 

				.form-search

					form(action='', method='post')

						.input-group.md-search

							input.form-control(type='text', name='search', placeholder='', required='')

							button.btn.btn-primary(type='submit') s

				//.form-search
			// 
			.col-lg-3

				a.header-cart(href='')
					span 15
			// 
	
		nav.navbar.navbar-toggleable-sm.md-nav

			.navbar-header
				button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false')
					span
					span
					span

			#navbar.collapse.navbar-collapse

				ul.nav.navbar-nav

					li
						a(href='#') О нас

					li
						a(href='#') Гарантии

					li
						a.active(href='#') Схемы лечения

					li
						a(href='#') Сертификаты

					li
						a(href='#') Доставка и оплата

					li
						a(href='#') Отзывы

					li
						a(href='#') Вопрос-ответ

					li
						a(href='#') Контакты
			

//.header