extends ./layout.jade

  
block content

	main

		section

			.container

				.row

					.col-lg-8

						a.btn.btn-success(
							hre="#"
						) test

					.col-lg-4

						a.btn.btn-success(
							hre="#"
						) test
						
			//.container